#root {
  height: 100vh; /* Ensure the root takes up full viewport height */
  width: 100vw;  /* Ensure it takes up the full viewport width */
  margin: 0;
  padding: 0;
  display: flex;  /* Optional: If you want it to be a flex container */
  flex-direction: column; /* Optional: Make it a column layout */
}

:root {
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light white;
  color: #0d0d0d;
  background-color: #ffffff;

  /*color-scheme: light dark;*/
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #fff;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body{
  scroll-behavior: smooth;
}

.logo-and-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 100px; /* Adjust the width as needed */
  margin-right: 20px; /* Adjust the margin as needed */
}